:root {
    --primary-light: #62727b;
    --primary: #37464f;
    --primary-dark: #001927;
    --primary-text: #ffffff;

    --secondary-light: #b4ffff;
    --secondary: #89e7f3;
    --secondary-dark: #55d6e7;
    --secondary-text: #000000;
    font-family: monospace;
}

html, body {
    padding: 0px;
    background-color: var(--primary-dark);
}
.shadow {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33); 
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.33);
}

.material-icons.marker {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--secondary-text);
    opacity: 0.7;
    z-index: 900;
    font-size: 20px;
}

#weather-panel {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: calc(40vw - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    background-color: var(--secondary-light);
    overflow: hidden;
}
#weather-panel .current-weather {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 30%;
    background-color: var(--secondary);
    z-index: inherit;
}
#weather-panel .current-weather .radar {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    height: calc(100% - 10px);
}
#weather-panel .current-weather .current-weather-stats {
    position: absolute;
    top: 0px;
    left: calc(30vh - 10px);
    display: inline-block;
    width: calc(100% - 30vh + 10px);
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px;
}
#weather-panel .current-weather .current-weather-stats .item {
    position: relative;
    display: inline-block;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 5px;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    vertical-align: baseline;
    margin-bottom: 0px;
}
#weather-panel .current-weather .current-weather-stats .item.weather-basic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    max-width: 128px;
}
#weather-panel .current-weather .current-weather-stats .item .main {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: monospace;
    font-size: 18px;
    white-space: nowrap;
}
#weather-panel .current-weather .current-weather-stats .item .desc {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: monospace;
    white-space: nowrap;
    opacity: 0.8;
    font-family: 10px;
}
#weather-panel .current-weather .current-weather-stats .item .material-icons {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    opacity: 0.8;
}

#weather-panel .weather-hourly {
    position: absolute;
    top: calc(30% + 5px);
    left: 5px;
    display: inline-block;
    height: 80px;
    width: calc(100% - 10px);
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--secondary-dark);
}
#weather-panel .weather-hourly .hourly-weather-item {
    position: relative;
    margin: 5px;
    display: inline-block;
    height: 70px;
    /* width: calc((100% / 9) - 10px);
    min-width: 54px; */
    border-radius: 5px;
    background-color: var(--secondary);
}
#weather-panel .weather-hourly .hourly-weather-item:last-child {
    margin-right: 0px;
}
#weather-panel .weather-hourly .hourly-weather-item img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 100%;
    max-width: 54px;
    height: auto;
}
#weather-panel .weather-hourly .hourly-weather-item span {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-family: monospace;
    white-space: nowrap;
}

#weather-panel .weather-daily {
    position: absolute;
    top: calc(30% + 90px);
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(70% - 90px);
    overflow: hidden;
}
#weather-panel .weather-daily .item {
    margin: 5px;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    width: calc(100% - 10px);
    height: calc((100% / 8) - 10px);
    box-sizing: border-box;
    background-color: var(--secondary-dark);
    border-radius: 5px;
    overflow: hidden;
}
#weather-panel .weather-daily .item img {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 56px;
    height: 56px;
}
#weather-panel .weather-daily .item .date {
    position: absolute;
    top: 50%;
    left: 56px;
    transform: translate(0, -50%);
    display: inline-block;
    font-size: 16px;
}
#weather-panel .weather-daily .item .forecast-temp {
    position: absolute;
    left: 156px;
    top: 50%;
    transform: translate(0, -50%);
}
#weather-panel .weather-daily .item .forecast-temp span {
    vertical-align: middle;
}
#weather-panel .weather-daily .item .forecast-humidity {
    position: absolute;
    left: 320px;
    top: 50%;
    transform: translate(0, -50%);
}
#weather-panel .weather-daily .item .forecast-humidity span {
    vertical-align: middle;
}
#weather-panel .weather-daily .item .forecast-uvi {
    position: absolute;
    left: 380px;
    top: 50%;
    transform: translate(0, -50%);
}
#weather-panel .weather-daily .item .forecast-uvi span {
    vertical-align: middle;
    margin-right: 4px;
}

#events-panel {
    position: absolute;
    top: 30vh;
    left: 40vw;
    display: inline-block;
    width: calc(60vw - 10px);
    height: calc(70vh - 10px);
    border-radius: 10px;
    background-color: var(--secondary-light);
    overflow: hidden;
}
#events-panel .events-area {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#events-panel .events-area .event-item {
    position: relative;
    margin: 5px;
    margin-bottom: 0px;
    display: inline-block;
    width: calc(100% - 10px);
    height: 57px;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    box-sizing: border-box;
}
#events-panel .events-area .event-item .prop {
    position: absolute;
}
#events-panel .events-area .event-item .prop * {
    vertical-align: middle;
}
#events-panel .events-area .event-item .prop .value {
    font-size: 16px;
    margin-left: 5px;
}
#events-panel .events-area .event-item .prop.name {
    top: 5px;
    left: 57px;
}
#events-panel .events-area .event-item .prop.time {
    top: 29px;
    left: 57px;
}
#events-panel .events-area .event-item .prop.creator {
    top: 5px;
    left: 75%;
}
#events-panel .events-area .event-item .prop.status {
    top: 29px;
    left: 75%;
}
#events-panel .events-area .event-item img {
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 4px;
    width: 53px;
    height: 53px;
}
#events-panel .no-events {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    font-size: 30px;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

#time-panel {
    position: absolute;
    top: 10px;
    left: 40vw;
    display: inline-block;
    width: calc(60vw - 10px);
    height: calc(30vh - 20px);
    border-radius: 10px;
    background-color: var(--secondary-light);
    overflow: hidden;
}
#time-panel .time {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 64px;
}
#time-panel .date {
    position: absolute;
    top: calc(50% + 48px);
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 20px;
    opacity: 0.8;
}
#time-panel .location-name {
    position: absolute;
    top: 5px;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-size: 16px;
    opacity: 0.8;
}
#time-panel .location-name * {
    vertical-align: middle;
    margin-right: 5px;
}
